.resource(v-repeat='resources', v-show='max !== null')
	.label {{label}}
	.bar-display
		.overlay
			.current {{numeral(current).format('0.0')}}
			.max {{numeral(max).format('0.0')}}
		.bar.green(v-class='orange: percent <= orangeThreshold, red: percent <= redThreshold', v-style='height: percent + "%"')
