.resource(v-repeat='res: resources', v-show='res.max !== null')
	.label {{res.label}}
	.bar-display(v-class='getBarColor(res)')
		.overlay
			.current {{numeral(res.current).format('0.0')}}
			.max {{numeral(res.max).format('0.0')}}
		.bar(v-style='height: res.percent + "%"')
