#settings
	.wrap
		header
		.credits By #[a(href='https://github.com/Lokaltog/KeRD') @Lokaltog]
		form(v-on='submit: submit')
			.header Telemachus properties

			.input.input-text
				label(for='config-telemachus-host') Host
				input#config-telemachus-host(type='text', v-model='config.telemachus.host')

			.input.input-text
				label(for='config-telemachus-port') Port
				input#config-telemachus-port(type='text', v-model='config.telemachus.port')

			.input.input-select
				label(for='config-telemachus-refreshrate') Data refresh rate
				select#config-telemachus-refreshrate(v-model='config.telemachus.refreshRate')
					option(value=1) 1hz
					option(value=2) 2hz

			.header WebGL rendering settings

			.input.input-select
				label(for='config-rendering-fps') Frame rate limit
				select#config-rendering-fps(v-model='config.rendering.fps')
					option(value=15) 15
					option(value=30) 30
					option(value=60) 60
					option(value=120) 120

			.input.input-select
				label(for='config-rendering-texturequality') Texture quality
				select#config-rendering-texturequality(v-model='config.rendering.textureQuality')
					option(value='lo') Low
					option(value='hi') High

			.input-row
				.input.input-checkbox
					input#config-rendering-normalmaps(type='checkbox', v-model='config.rendering.normalMaps')
					label(for='config-rendering-normalmaps') Normal maps

				.input.input-checkbox
					input#config-rendering-specularmaps(type='checkbox', v-model='config.rendering.specularMaps')
					label(for='config-rendering-specularmaps') Specular maps

			.input-row
				.input.input-checkbox
					input#config-rendering-shadowmaps(type='checkbox', v-model='config.rendering.shadows')
					label(for='config-rendering-shadowmaps') Shadows

				.input.input-checkbox
					input#config-rendering-postprocessing(type='checkbox', v-model='config.rendering.postProcessing')
					label(for='config-rendering-postprocessing') Post processing

			.input-row
				.input.input-checkbox
					input#config-rendering-skybox(type='checkbox', v-model='config.rendering.skybox')
					label(for='config-rendering-skybox') Show skybox

				.input.input-checkbox
					input#config-rendering-lensflare(type='checkbox', v-model='config.rendering.lensFlare')
					label(for='config-rendering-lensflare') Show lens flare

			.header Modules

			.input.input-checkbox
				input#config-modules-map-showbodydetails(type='checkbox', v-model='config.modules.map.showBodyDetails')
				label(for='config-modules-map-showbodydetails') Display body details in map view

		.input.input-submit
			p.disclaimer The page will be reloaded when you save your configuration.
			.row
				button.primary(type='submit', v-on='click: submit') Save configuration
				button#settings-close(v-on='click: close') Close without saving
