@import 'lib/settings'
@import 'lib/normalize'

html
	height: 100%
	margin: 0

body
	font: 300 1em/1.5 $font-theme
	background: #000
	color: #111
	height: 100%
	margin: 0
	user-select: none

a
	color: #444
	&:hover
		color: #777
