@import 'lib/settings'

.mod-map
	$dim: 36em
	.orbital-display
		background: #000
		width: $dim
		height: $dim
		position: relative
		border-radius: .5em
		position: relative
		overflow: hidden
		box-shadow: 0 1px 0 rgba(#fff, .5), 0 -1px rgba(#000, 1)
	.nodes
		.apoapsis,
		.periapsis
			$box-dim: 1em
			position: absolute
			width: $box-dim
			height: $box-dim
			background: transparent 50% 100% no-repeat
			transform: translate(-50%, -100%)
			background-size: contain
		.apoapsis
			background-image: url('/img/arrow-ap.svg')
		.periapsis
			background-image: url('/img/arrow-pe.svg')

	.monitor
		background: #555
		border-radius: .5em
		width: $dim
		padding: $half-gutter
		box-shadow: 0 -1px 0 rgba(#fff, .5), 0 1px rgba(#000, 1), 0 .3em .4em rgba(#000, .3)
		position: relative
		overflow: hidden
		.actions
			display: flex
			padding: $quarter-gutter 0 0 0
			button
				flex: 1 0 auto
				width: 0
				&:not(:last-child)
					margin: 0 $quarter-gutter 0 0
	.body-header,
	.body-info
		background: transparent
		color: rgba(lighten($color-orange, 20), .7)
		position: absolute
		font: 1.3em/1.3 $font-lcd
		text-shadow: 0 0 .5em rgba($color-orange, 1)
	.body-header
		top: 1.6em
		left: $gutter
	.body-info
		bottom: 4em
		left: $gutter
