header {{data['v.body']}}
.content
	.monitor
		.orbital-display
		.body-header(v-if='body && config.modules.map.showBodyDetails')
			.name {{data['v.name']}} orbiting {{body.name}}
		.body-info(v-if='body && config.modules.map.showBodyDetails')
			.radius Radius: {{numeral(body.radius).format('0a')}}m
			.atmosphere Atmosphere: {{numeral(body.atmosphere).format('0a')}}m
			.daylength Day length: {{numeral(body.rotPeriod).format('00:00')}}
		.actions
			button.dark.focus(v-on='click: toggleFocus', v-text='focus')
			button.dark.atmosphere(v-on='click: toggleAtmosphere') Atmosphere
