header {{data['v.body']}}
.content
	.monitor
		.orbital-display
		.actions
			button.toggle.focus(v-on='click: toggleFocus', v-text='focus')
			button.toggle.atmosphere(v-on='click: toggleAtmosphere') Atmosphere
