@import 'lib/settings'

.row, .col,
.node-row, .node-col
	display: flex
	& > *
		display: flex
		flex-flow: column nowrap
		flex: 1 1 auto

.row,
.node-row
	flex-flow: row nowrap
	flex: 1 1 auto
	&.distribute > *
		width: 0
		flex: 1 1 auto

.row
	& > *:not(:last-child)
		margin: 0 $half-gutter 0 0

.col,
.node-col
	flex-flow: column nowrap
	flex: 1 1 auto

.col
	& > *:not(:last-child)
		margin: 0 0 $half-gutter 0

layout
	component
		flex: 1 1 auto
		display: flex
		flex-flow: column nowrap

section
	$screw-margin: .15em
	$screw-size: .9em

	border-radius: .5em
	padding: $half-gutter
	background: no-repeat url('/img/screw.svg') $screw-margin $screw-margin, no-repeat url('/img/screw.svg') $screw-margin calc(100% - #{$screw-margin}), no-repeat url('/img/screw.svg') calc(100% - #{$screw-margin}) $screw-margin, no-repeat url('/img/screw.svg') calc(100% - #{$screw-margin}) calc(100% - #{$screw-margin}), #ddd url('/img/noise.png')
	background-size: $screw-size, $screw-size, $screw-size, $screw-size, auto
	box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #000, 0 .05em .3em rgba(#000, .8)
	text-shadow: 0 1px 0 rgba(#fff, .4)
	margin: 0 $quarter-gutter $quarter-gutter 0 !important
	flex: 1 1 auto
	display: flex
	flex-flow: column nowrap
	header
		$border-radius: .3em
		display: flex
		align-items: flex-end
		height: 1em
		font-size: 1.3em
		text-transform: uppercase
		flex: 0 0 auto
		&::before, &::after
			flex: 1 0 0
			height: .8em
			display: block
			content: ''
			border-color: rgba(#000, .8)
			border-width: 1px
		&::before
			border-style: solid none none solid
			border-top-left-radius: $border-radius
			margin-right: $quarter-gutter
			padding-right: $quarter-gutter
		&::after
			border-style: solid solid none none
			border-top-right-radius: $border-radius
			margin-left: $quarter-gutter
			padding-left: $quarter-gutter
	& > *
		flex: 1 1 auto
		display: flex
		flex-flow: column nowrap
	.content
		flex: 1 1 auto
		white-space: nowrap
		padding: $quarter-gutter $half-gutter $half-gutter $half-gutter
		display: flex
		flex-flow: column nowrap
		justify-content: space-around
