@import 'lib/settings'
@import 'lib/utils'

.row, .col,
.node-row, .node-col
	display: flex
	& > *
		display: flex
		flex-flow: column nowrap
		flex: 0 1 auto

.row,
.node-row
	flex-flow: row nowrap
	flex: 1 1 auto
	&.distribute > *
		width: 0
		flex: 1 1 auto

.row
	& > *:not(:last-child)
		margin: 0 $half-gutter 0 0

.col,
.node-col
	flex-flow: column nowrap
	flex: 1 1 auto

.col
	& > *:not(:last-child)
		margin: 0 0 $half-gutter 0

layout
	component
		flex: 1 1 auto
		display: flex
		flex-flow: column nowrap
		margin: 0 $half-gutter $half-gutter 0

section
	@extend .section
	padding-right: 0
	padding-bottom: 0
	header
		$border-radius: .3em
		display: flex
		align-items: flex-end
		height: 1em
		font-size: 1.3em
		text-transform: uppercase
		flex: 0 0 auto
		&::before, &::after
			flex: 1 0 0
			height: .8em
			display: block
			content: ''
			border-color: rgba(#000, .8)
			border-width: 1px
		&::before
			border-style: solid none none solid
			border-top-left-radius: $border-radius
			margin-right: $quarter-gutter
			padding-right: $quarter-gutter
		&::after
			border-style: solid solid none none
			border-top-right-radius: $border-radius
			margin-left: $quarter-gutter
			padding-left: $quarter-gutter
	& > *
		flex: 1 1 auto
		display: flex
		flex-flow: column nowrap
	.content
		flex: 1 1 auto
		white-space: nowrap
		padding: 0 $half-gutter $quarter-gutter $half-gutter
		display: flex
		flex-flow: column nowrap
		justify-content: space-around
