template(v-repeat='contents')
	layout(v-if='type == "row" || type == "col"', contents='{{contents}}', v-attr='class: "node-" + (type || "col")')
	section(v-if='type == "section"')
		layout(contents='{{contents}}')
	component(v-if='type == "module"', is='{{id}}', config='{{config}}', v-attr='class: "mod-" + id')
