.mod-navigation
	.navball
		background: #555
		box-shadow: inset 0 .1em .8em #000, inset 0 1px 0 #000, 0 1px 0 #fff
		width: 13em
		height: 13em
		border-radius: 50%
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 100%
			border-radius: 50%
			top: 0
			top: 0
			background: radial-gradient(ellipse 150% 100% at 50% 5%, rgba(#fff, 0), rgba(#fff, .2) 50%, rgba(#fff, .0) 50%, rgba(#fff, .2))
		&::after
			content: ''
			display: block
			position: absolute
			width: 1em
			height: 1em
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border-radius: 50%
			border: 3px solid #f00
