header Action Groups
.content
	.col
		.row.distribute
			button.toggle(v-class='on: actions[1]', v-on='click: action(1)') A1
			button.toggle(v-class='on: actions[2]', v-on='click: action(2)') A2
			button.toggle(v-class='on: actions[3]', v-on='click: action(3)') A3
			button.toggle(v-class='on: actions[4]', v-on='click: action(4)') A4
			button.toggle(v-class='on: actions[5]', v-on='click: action(5)') A5
		.row.distribute
			button.toggle(v-class='on: actions[6]', v-on='click: action(6)') A6
			button.toggle(v-class='on: actions[7]', v-on='click: action(7)') A7
			button.toggle(v-class='on: actions[8]', v-on='click: action(8)') A8
			button.toggle(v-class='on: actions[9]', v-on='click: action(9)') A9
			button.toggle(v-class='on: actions[10]', v-on='click: action(10)') A10
