//p make editable - doubleclick to edit label, disable click handler when editing - STORE the labels and the state PER VESSEL in localstorage

.flex-row
	button.btn.physical.toggle(v-class='on: actions[1]', v-on='click: action(1)') A1
	button.btn.physical.toggle(v-class='on: actions[2]', v-on='click: action(2)') A2
	button.btn.physical.toggle(v-class='on: actions[3]', v-on='click: action(3)') A3
.flex-row
	button.btn.physical.toggle(v-class='on: actions[4]', v-on='click: action(4)') A4
	button.btn.physical.toggle(v-class='on: actions[5]', v-on='click: action(5)') A5
	button.btn.physical.toggle(v-class='on: actions[6]', v-on='click: action(6)') A6
.flex-row
	button.btn.physical.toggle(v-class='on: actions[7]', v-on='click: action(7)') A7
	button.btn.physical.toggle(v-class='on: actions[8]', v-on='click: action(8)') A8
	button.btn.physical.toggle(v-class='on: actions[9]', v-on='click: action(9)') A9
