header Action Groups
.content
	.col
		.row.distribute
			button A1
			button A2
			button A3
			button A4
			button A5
		.row.distribute
			button A6
			button A7
			button A8
			button A9
			button A10
