header {{data['v.name']}}
.content
	.row.gauges
		.gauge-wrap
			.label Throttle
			.gauge.throttle
				.needle(v-style='transform: "rotate(" + throttleRotation + "deg)"')

		.gauge-wrap
			.label G-Force
			.gauge.gforce
				.needle(v-style='transform: "rotate(" + gForceRotation + "deg)"')

	.pressure
		.label Atmosphere
		.needle(v-style='left: pressurePosition + "%"')

	.lamps
		.row
			.lamp.gears(v-class='on: gears') Gears
			.lamp.lights(v-class='on: lights') Lights
			.lamp.brakes(v-class='on: brakes') Brakes
		.row
			.lamp.rcs(v-class='on: rcs') RCS
			.lamp.sas(v-class='on: sas') SAS

	.control-block
		.display
			| {{missionTime || 'NO CONNECTION'}}
