#wrap(v-class='blur: settingsVisible')
	layout(root='true', editable='{{layoutEditable}}')
	footer
		.contents
			.layouts
				button.dark(v-on='click: settingsVisible = !settingsVisible') Settings
				button.dark(v-on='click: layoutEditable = !layoutEditable') Edit layout
			.logo
			.host.connected(v-if='wsConnected') Connected to {{config.telemachus.host}}:{{config.telemachus.port}}
			.host.disconnected(v-if='!wsConnected') Not connected

settings(v-show='settingsVisible')
