#wrap
	module(layout='{{layout}}')
	footer
		.contents
			.layouts
				button.dark 1
			.logo
			.host.connected(v-if='wsConnected') Connected to {{host}}:{{port}}
			.host.disconnected(v-if='!wsConnected') Not connected
