#wrap(v-class='blur: settingsVisible')
	layout(contents='{{layout}}')
	footer
		.contents
			.layouts
				//button.dark 1
				button.dark(v-on='click: settingsVisible = !settingsVisible') Settings
			.logo
			.host.connected(v-if='wsConnected') Connected to {{config.telemachus.host}}:{{config.telemachus.port}}
			.host.disconnected(v-if='!wsConnected') Not connected

settings(v-show='settingsVisible')
